                    </div>
                </div>
            </div>
            <footer>
                <p><strong>&copy; Oficina de Extensión Virtual - 2012</strong></p>
            </footer>
        </div><!--/.fluid-container-->

        <!-- Javascript
        ================================================== -->
        <!-- Se pone al final del documento para que se cargue rápido -->
        <script src="js/jquery.min.js"></script>
        <script src="js/bootstrap.min.js"></script>        
        <script src="js/charts/jquery.flot.js"></script>
        <script src="js/charts/jquery.flot.resize.js"></script>
        <script src="js/charts/jquery.flot.pie.js"></script>
        <script src="js/charts/customcharts.js"></script>
        <script src="js/jquery-ui.min.js"></script>
    </body>
</html>
